# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# (lol)

.idea

# pyproject installation files
src/of_ids.egg-info
__pycache__/
/src/chord/lib.py
/src/chord/testclient.py
