<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% load static%}
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="https://cdn-icons-png.freepik.com/512/6783/6783360.png" rel="icon">
    <title>daisy</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
          rel="stylesheet"/>
    <link href={% static
    'css/styles.css' %} rel="stylesheet" />
    <script crossorigin="anonymous"
            src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"></script>
</head>
<body %} %}{% block body_theme class={% endblock>
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand" href={% url "index" %}>
    <img alt="..."
         height="36" src="https://cdn-icons-png.freepik.com/512/6783/6783360.png" style="margin-left: 15px; margin-right:15px"
         style="">daisy
    </a>
    <!--<a class="navbar-brand ps-3" href=href={% url "index" %}>daisy</a>-->
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
            href="#!" id="sidebarToggle"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input aria-describedby="btnNavbarSearch" aria-label="Search for..." class="form-control"
                   placeholder="Search for..." type="text"/>
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                    class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
               href="#" id="navbarDropdown" role="button"><i
                    class="fas fa-user fa-fw"></i></a>
            <ul aria-labelledby="navbarDropdown"
                class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href={% url "change_theme" %}>Change
                    Theme</a></li>
                <li class="nav-item dropdown"><a class="dropdown-item" href="#!"><img
                        src={% static "gb.png"%} style="height:10px" alt="English">
                    English</a></li>
                <li class="nav-item dropdown"><a class="dropdown-item" href="#!"><img
                        src={% static "de.png"%} style="height:10px" alt="English">
                    German</a></li>

                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li>
                    <hr class="dropdown-divider"/>
                </li>
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav %}{%endblock%} block class={% id="sidenavAccordion" navbar_theme>
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href={% url "index" %}>
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i>
                    </div>
                    Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Servers</div>
                    <a class="nav-link" href={% url "aggregate" %}>
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-server"></i>
                    </div>
                    Aggregation Server
                    </a>
                    <a aria-controls="collapsePages" aria-expanded="false" class="nav-link collapsed"
                       data-bs-target="#collapsePages" data-bs-toggle="collapse"
                       href="#">
                        <div class="sb-nav-link-icon"><i
                                class="fa-solid fa-chart-line"></i></div>
                        Evaluation Server
                        <div class="sb-sidenav-collapse-arrow"><i
                                class="fas fa-angle-down"></i></div>
                    </a>
                    <div aria-labelledby="headingTwo" class="collapse"
                         data-bs-parent="#sidenavAccordion"
                         id="collapsePages">
                        <nav class="sb-sidenav-menu-nested nav accordion"
                             id="sidenavAccordionPages">
                            <a class="nav-link" href="/evaluate">
                                Participating Nodes
                            </a>
                            <a class="nav-link collapsed" href="/accuracy">
                                Accuracy
                            </a>
                            <a class="nav-link collapsed" href="/f1-score">
                                F1-Score
                            </a>
                            <a class="nav-link collapsed" href="/precision">
                                Precision
                            </a>
                            <a class="nav-link collapsed" href="/recall">
                                Recall
                            </a>
                        </nav>
                    </div>
                    <div class="sb-sidenav-menu-heading">Addons</div>
                    <a class="nav-link" href={% url "alerts" %}>
                    <div class="sb-nav-link-icon"><i
                            class="fa-solid fa-triangle-exclamation"></i></div>
                    Alerts
                    </a>
                    <a class="nav-link" href={% url "nodes" %}>
                    <div class="sb-nav-link-icon"><i
                            class="fa-solid fa-grip-vertical"></i></div>
                    Nodes
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                © daisy 2024
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                {% block main %}


                {% endblock %}
            </div>
        </main>
        <footer %} %}{% block class={% endblock footer_theme>
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; daisy 2024</div>
                    <div>
                        <a href={% url "privacy" %}>Privacy Policy</a>
                        &middot;
                        <a href={% url "terms" %}>Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src={% static
'js/scripts.js' %}></script>
<script crossorigin="anonymous"
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"></script>
</body>
</html>
