{% extends "./base.html" %}

{% block body_theme %}
{% if dark_theme %}
"sb-nav-fixed bg-dark"
{% else %}
"sb-nav-fixed"
{% endif %}
{% endblock %}

{% block footer_theme %}
{% if dark_theme %}
"py-4 bg-dark mt-auto"
{% else %}
"py-4 mt-auto"
{% endif %}
{% endblock %}

{% block navbar_theme %}
{% if dark_theme %}
"sb-sidenav accordion sb-sidenav-dark"
{% else %}
"sb-sidenav accordion sb-sidenav-light"
{% endif %}
{% endblock %}

{% block main %}
<h1 class="mt-4">Nodes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Overview Of All Active Nodes</li>
</ol>
<div class="row">
    <div class="col-xl-5">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fa-solid fa-circle-nodes"></i>
                Node 1
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xl-5">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-circle-nodes"></i>
                    Node 2
                </div>
                <div class="card-body">
                    <table id="node2">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>$320,800</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-5">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fa-solid fa-circle-nodes"></i>
                Node 3
            </div>
            <div class="card-body">
                <table id="node3">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
